<!DOCTYPE html>
<html>

<head>
    <title>Chatbot</title>
    <!-- import Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Stylesheet -->
    <!-- <link rel="stylesheet" href="/chatbot_project/chatbot_app/templates/styles.css"> -->
</head>

<body>
    <div class="w-screen h-screen bg-gray-50 flex flex-col">
        <!-- Header -->
        <header class="sticky top-0">
            <nav class="
                 flex flex-wrap
                 items-center
                 justify-between
                 w-full
                 py-4
                 px-4
                 bg-gray-800">

                <!-- Left Items -->
                <div>
                    <span class="text-white text-xl font-bold">Incident Response Exercise Chatbot</span>
                </div>

                <!-- Right Items -->
                <div class="hidden w-full md:flex md:items-center md:w-auto" id="menu">
                    <ul class="
                     text-base text-white text-bold
                     md:flex
                     md:justify-between 
                     md:pt-0">
                        <li>
                            <button class="text-white px-4 py-2 rounded-md">
                                <a href="{% url 'export_chat_history' %}">Export Chat History</a>
                            </button>
                        </li>
                        <li>
                            <button id="newChatButton" class="bg-blue-500 text-white px-4 py-2 rounded-md"
                                onclick="openNewChat()">New
                                Chat</button>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Chat Dialogue -->
        <div id="chatbox" class="w-full max-w-screen-lg flex-1 m-auto p-8 my-4 pb-20">
            <div class="flex flex-col">
                {% for message in messages %}
                <!-- AImMessage reponse -->
                {% if message.sender == 'AI' %}
                <div class="message rounded-lg py-2 px-6 mb-4 bg-blue-100 border-blue-100 self-start mr-60"><strong
                        class="mr-1">Chatbot: </strong>{{ message.text }}</div>
                <!-- User message response -->
                {% elif message.sender == 'User' %}
                <div class="message rounded-lg py-2 px-6 mb-4 bg-green-200 border-green-200 self-end">
                    {{ message.text }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- Input area -->
        <div class="fixed inset-x-0 bottom-0 bg-gray-200">
            <form method="POST" action="" id="myForm"
                class="max-w-screen-lg m-auto w-full p-4 flex space-x-4 justify-center items-center">
                {% csrf_token %}
                <!-- Message input -->
                <input id="message" name="user_input" type="text" autocomplete="off"
                    class="border rounded-md p-2 flex-1 border-gray-300" x-model="newMessage"
                    placeholder="Your message...">

                <!-- Send -->
                <input type="submit" value="Send" id="submitbutton"
                    class="bg-gray-800 text-white px-4 py-2 rounded-md"></input>

            </form>
        </div>
    </div>

    <script>
        function openNewChat() {
            // window.open('/chatbot/new/', '_blank');
            window.location.href = "{% url 'new_chat_session' %}";
        }

        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("myForm");
            const submitButton = document.getElementById("submitbutton");

            // Retrieve the stored scroll position if it exists
            let scrollPosition = localStorage.getItem('scrollPosition');

            // When the form is submitted
            form.addEventListener("submit", function (event) {
                event.preventDefault();  // Prevent the default form submission behavior

                // Store the current scroll position
                localStorage.setItem('scrollPosition', window.scrollY);

                // Submit the form manually
                form.submit();
            });

            // If there's a remembered scroll position, set it and then remove it from storage
            if (scrollPosition !== null) {
                window.scrollTo(0, parseInt(scrollPosition));
                localStorage.removeItem('scrollPosition');  // Clear the stored value
            }

        });
    </script>
</body>

</html>